/*
Theme URI: https://github.com/biznickman/hollerpress
Author: Nick O'Neill
Author URI: http://nickoneill.com/
Description: A lightweight theme designed to be optimized for SEO and sharing with little configuration.
Version: 1.0
*/

body{
	color: #222;
	font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	-webkit-font-smoothing:antialiased;
}
body > header , body > section , body > footer{
	max-width: 640px;
	width: 96%;
	margin: 0 auto;
}

a{ text-decoration: none; color: #131313; border-bottom: #131313 1px solid;}

/* Top header */
body > header{
	color: #949494; 
	padding:30px 0;
}
	body > header h1 a , body > header h1 a:hover{
		/* SET FROM THEME, ALSO OPTIONALLY ALLOW A LOGO*/
		color: #4ECDC4;
		border-bottom: 0;
		text-decoration:none;
		font-weight: 700;
		font-size:45px;
	}
	body > header h1 a:hover {
		border-bottom: 0; 
	}
	body > header p{
		max-width:450px;
	}
p a, p a:visited{
	color: #131313;
	text-decoration:none;
}
p a:hover{
	text-decoration: none;	
}

header > h1{
	line-height: 1.5em;
}

section {margin-bottom: 2.8em;}

/* Article styling */
article > header h1{
	font-size: 27px;
	margin: 0;
}
article h2{
	font-size: 23px;
}
article > header h1 a{
	border-bottom: 0;
	color: #222;
}
article > header h1 a:hover{
	border-bottom: #222 1px solid;
}
article > header p{
	color: #949494;
}

em{
	font-style:normal;
	background-color: #C7F464;
	padding: 0.1em;
}
blockquote{
	border-left: #C7F464 13px solid;
	margin: 0;
	padding-left: 15px;
}

#fbcomments, .fb_iframe_widget, .fb_iframe_widget[style], .fb_iframe_widget iframe[style], #fbcomments iframe[style] {
	width: 100% !important;
}

/* Article sharing links */

.blog{
	position: relative;
}

.post-sidebar-cta{
height: 53px;
padding-top: 18px;
text-transform: none !important;
font-weight: normal !important;
font-size: 12px !important;
text-align: left !important;
position: absolute;
left: -265px;
top: -15px;
width: 245px;	
}

.post-sidebar-cta > div {
	/*position: fixed;
	top: 16px;*/
}

/* Comments */

/* Pagination */
nav{
	height:20px;
}
nav.pagination span.previous{
	float:left;
	max-width:300px;
}
nav.pagination span.next{
	float:right;
	max-width:300px;
}

/* Footer */
footer {
	clear:both;
	text-align:center;
}
footer > p {
	color: #949494;
	padding-top: 10px;
	margin-bottom: 30px;
	font-size: 14px;
}

/* Real-time alerts styling */
#new-posts{
	width: 100%;
	height: 30px;
	background-color: #bff0ed;
	border: 1px solid #4ECDC4;
	border-radius: 3px;
}
#new-posts p{
	margin: 0;
	padding: 0 0 0 10px;
}
#new-posts p a{
	text-decoration:none;
}